* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(225, 222, 222);
}

.header-upper-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-search-container {
  width: 25%;
  height: 100px;
}

.header-search-container i {
  margin: 0 10px;
  font-size: 24px;
  padding: 10px;
}

.header-search-container p {
  padding: 10px;
}

.header-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.header-login-container {
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 10px;
  width: 25%;
}

.header-login-container i {
  font-size: 24px;
  margin: 0 10px;
}

.header-login-container a {
  font-size: 20px;
  text-decoration: none;
  margin: 0px 10px;
  color: rgb(9, 116, 193);
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 35px;
  border: 1.5px solid gray;
  border-radius: 30px;
}

.header-heading-container {
  text-align: center;
}

.header-heading-container h1 {
  font-size: 28px;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.header-menu-container {
  height: 50px;
  border-top: 1.5px solid gray;
  border-radius: 1.5px solid gray;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  background: linear-gradient(to right, rgb(34, 34, 135), blue);
}

.header-list-container {
  display: flex;
}

.header-list-container li {
  list-style-type: none;
}

.header-list-container li a {
  display: inline-block;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}

.index-main-container {
  display: flex;
}

.index-body-container {
  width: 65%;
  background: white;
  margin: 20px;
  padding: 15px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.index-body-item {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  height: 200px;
  border: 1.4px solid gray;
  width: 90%;
}

.index-body-image {
  width: 40%;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.index-body-image img {
  width: 100%;
  height: 190px;
}

.index-body-content {
  width: 45%;
  padding: 4px;
}

.read-more {
  text-decoration: none;
  color: white;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 90px;
  height: 35px;
}

/* sidebar container styling */
.index-sidebar-container {
  width: 30%;
  height: 100vh;
  margin: 20px;
}

.index-search-container {
  height: 150px;
  padding: 10px 20px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.index-search-container h3 {
  margin-bottom: 20px;
}

.index-search-input-box form {
  display: inline-flex;
}

.index-search-input-box input {
  width: 250px;
  height: 35px;
  padding: 10px;
}

.index-search-input-box input::placeholder {
  font-size: 16px;
}

.index-search-input-box button {
  display: block;
  width: 60px;
  height: 35px;
  margin-left: 0px;
}

.index-search-input-box button a {
  text-decoration: none;
}

.index-sidebar {
  background: white;
  padding: 12px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.index-sidebar h3 {
  text-align: center;
  margin-bottom: 12px;
}

.index-sidebar-item {
  display: flex;
}

.index-sidebar-item-image {
  width: 40%;
}

.index-sidebar-item-image img {
  width: 100%;
  height: 90px;
}

.index-sidebar-item-content {
  margin-left: 15px;
}

.index-sidebar-item-content h4 {
  margin-bottom: 8px;
}

.index-sidebar-item-content div {
  margin-bottom: 8px;
}

.index-pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.index-pagination {
  display: flex;
  margin: 0px auto;
}

.index-pagination li {
  list-style-type: none;
  margin-left: 5px;
}

.index-pagination li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(13, 71, 164);
  color: white;
  width: 35px;
  height: 35px;
}

.admin-header-upper-container {
  height: 110px;
  background: linear-gradient(to right, rgb(14, 77, 155), rgb(48, 132, 221));
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.admin-header-upper-container h2 {
  margin-left: 40px;
  border: 1px solid white;
  padding: 10px;
}

.admin-header-upper-container a {
  text-decoration: none;
  color: rgb(48, 132, 221);
  display: inline-block;
  padding-top: 4px;
  height: 35px;
  width: 90px;
  background: white;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  margin-right: 40px;
}

.admin-header-menu-container {
  padding: 15px 0px;
}

.admin-header-list-container {
  display: flex;
  margin-left: 40px;
}

.admin-header-list-container li {
  list-style-type: none;
}

.admin-header-list-container li a {
  text-decoration: none;
  font-size: 20px;
  margin: 0px 10px;
  text-transform: uppercase;
  color: rgb(48, 132, 221);
  font-weight: 700;
}

.user-container {
  width: 90%;
  border: 2px solid black;
  margin: 0px auto;
}

.user-table-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.user-table-header a {
  text-decoration: none;
  display: inline-block;
  height: 35px;
  padding: 0px 8px;
  padding-top: 4px;
  text-align: center;
  color: rgb(48, 132, 221);
  border-radius: 5px;
  font-size: 20px;
  background: white;
  border: none;
  font-weight: bold;
}

table {
  width: 100%;
}

table tr {
  border-bottom: 1.8px solid black;
  width: 100%;
}

table, th, td {
  text-align: center;
  padding: 8px;
  border-collapse: collapse;
}

table thead {
  background: rgb(32, 31, 31);
  color: white;
}

.add-user-form-container {
  width: 45%;
  margin: 0 auto;
  background: white;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.user-label-style {
  font-weight: bold;
  font-size: 18px;
}

.row {
  height: 100%;
}

.single-post-body-image {
  width: 80%;
  margin-right: 20px;
  margin: 10px auto;
}

.single-post-body-content {
  width: 45%;
  padding: 4px;
}

.single-post-body-content h2 {
  color: rgb(26, 121, 230);
  margin-bottom: 10px;
}

.single-post-body-content div span i {
  color: rgb(26, 121, 230);
}

.single-post-body-content div span {
  margin-right: 8px;
}

.single-post-body-desc {
  text-align: justify;
}

.single-post-body-image img {
  width: 100%;
}

.category-heading {
  margin: 20px 10px;
  padding: 10px;
  border-bottom: 1.5px solid gray;
}

.category-heading h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(26, 121, 230);
}

/*# sourceMappingURL=style.css.map */
