
.user-container{
    width:90%;
    border:2px solid black;
    margin:0px auto;
}
.user-table-header{
    display:flex;
    justify-content: space-between;
    padding:20px 40px;
}
.user-table-header a{
    text-decoration: none;
    display:inline-block;
    height:35px;
    padding:0px 8px;
    padding-top:4px;
    text-align: center;
    color:rgb(48, 132, 221);
    border-radius: 5px;
    font-size:20px;
    background:white;
    border:none;
    font-weight: bold;
} 
table{
    width:100%;
}
table tr{
    border-bottom: 1.8px solid black;
    width:100%;
}
 table,th,td{
    text-align: center;
    padding:8px;
    border-collapse: collapse;
}
table thead{
    background:rgb(32, 31, 31);
    color:white;
}

