.category-heading{
    margin:20px 10px;
    padding:10px;
    border-bottom:1.5px solid gray;
}
.category-heading h2{
    text-align: center;
    text-transform: uppercase;
    color:rgb(26, 121, 230);

}