
body{
    background-color:rgb(225, 222, 222);

}
.header-upper-container{
    display:flex;
    justify-content: center;
    width:100%;
}
.header-search-container{
//   border:2px solid black;
 width:25%;
 height:100px;
 position:relative;
}

.header-search-container i{
    margin:0 10px;
    font-size:24px;
    padding:10px;
    // position:relative;
}
.header-search-container i.hide{
     display:none;
}

.header-search-side-menu{
//   border:2px solid black;
  background:white;
  padding:15px;
  position:absolute;
  left:12px;
  width:90%;
  height:45vh;
  display:none;
  border-radius: 5px;
  box-shadow:0px 0px 5px rgba(0,0,0,.5);

}
.header-search-side-menu ul li{
  list-style-type: none;
  margin-bottom:20px;
  height:30px;
  padding:5px;
}
.header-search-side-menu ul li:hover{
 background:rgb(93, 214, 241);
}

.header-search-side-menu ul li a{
    font-size:18px;
    text-decoration: none;
}

.header-search-container p{
    padding:10px;
  }
.header-heading-container{
    // border:2px solid black;
    display:flex;
    justify-content: center;
    align-items:center;
    width:45%;

}
.header-login-container{
    // border:2px solid black;
    display:flex;
    justify-content: end;
    align-items:start;
    padding:10px;
    width:25%;

}
.header-login-container i{
    font-size:24px;
    margin:0 10px;
}


.header-login-container a{
    font-size:20px;
    text-decoration: none;
    margin:0px 10px;
    color:rgb(9, 116, 193);
    display:inline-block;
    text-align:center;
    width:80px;
    height:35px;
    border:1.5px solid gray;
    border-radius: 30px;
   
    
}

.header-heading-container{
    text-align:center;
}
.header-heading-container h1{
    // border:2px solid black;
    font-size:28px;
    border-radius: 5px;
    padding:5px 15px;
    box-shadow:0 0px 5px  rgba(0,0,0,.5);
}

.header-menu-container{
    height:50px;
    border-top:1.5px solid gray;
    border-radius:1.5px solid gray;
    display:flex;
    align-items: center!important;
    justify-content: center!important;
    background:linear-gradient(to right,rgb(34, 34, 135), blue);
}
.header-list-container{
    display:flex;
    // border:2px solid black;
}

.header-list-container li{
    list-style-type:none;
}
.header-list-container li a{
    display:inline-block;
    font-size:20px;
    color:white;
    text-decoration: none;
    margin:0px 10px;
}

