.single-post-body-image{
    // border:2px solid black;
    width:80%;
    margin-right:20px;
    margin:10px auto;
}
.single-post-body-content{
    width:45%;
    padding:4px;
}
.single-post-body-content h2{
   color:rgb(26, 121, 230);
   margin-bottom:10px;
}
.single-post-body-content div span i{
    color:rgb(26, 121, 230);
}
.single-post-body-content div span{
    margin-right:8px;
}
.single-post-body-desc{
    text-align: justify;
}

.single-post-body-image img{
    width:100%;
}